<% layout('layouts/boilerplate')%>
    <title>All Notes</title>
    <div>
        <h2 class="mx-5 mt-3">My Notes</h2>
        <div class="d-inline-flex flex-row flex-wrap justify-content-start px-5">
            <% for(note of notes) { %>
                <div class="card m-2" style="width: 15rem;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <% if(note.dueDate && !note.isCompleted) { %> 
                            <p class="m-0 card-text text-danger">
                            Due <%= timeAgo.format(new Date(note.dueDate)) %>
                         </p>
                         <% } %> 
                        <h5 class="card-title">
                            <% if(note.title.length> 20){ %>
                                <%= note.title.slice(0, 20) %>...
                                    <% } else{ %>
                                        <%= note.title %>
                                            <% } %>
                        </h5>
                        <p class="card-text">
                            <% if(note.body.length> 30){ %>
                                <%= note.body.slice(0, 30) %>...
                                    <% } else{ %>
                                        <%= note.body %>
                                            <% } %>
                        </p>
                        <a href="/notes/<%=note._id %> "
                            class="btn btn-primary stretched-link mt-auto d-inline-block">View</a>
                    </div>
                    <div class="card-footer text-muted">
                        edited <%= timeAgo.format(new Date(parseInt(note.editDate))) %>
                    </div>
                </div>

                <% } %>
                <% if(!notes.length) {%>
                    <a class="m-3 btn btn-primary" href="/notes/new">New Note</a>
                    <% } %>
        </div>
        <div>
            <h2 class="mx-5 mt-3">Shared With Me</h2>
            <div class="d-inline-flex flex-row flex-wrap justify-content-center px-5">
                <% for(note of sharedNotes) { %>
                    <div class="card m-2" style="width: 15rem;">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <% if(note.dueDate && !note.isCompleted) { %> 
                                <p class="m-0 card-text text-danger">
                                    Due <%= timeAgo.format(new Date(note.dueDate)) %>
                                 </p>
                                 <% } %> 
                            <h5 class="card-title">
                                <% if(note.title.length> 20){ %>
                                    <%= note.title.slice(0, 20) %>... <span class="text-muted">- <%=note.author.username%></span>
                                        <% } else{ %>
                                            <%= note.title %><span class="text-muted">- <%=note.author.username%></span>
                                                <% } %>
                            </h5>
                            <p class="card-text">
                                <% if(note.body.length> 30){ %>
                                    <%= note.body.slice(0, 30) %>...
                                        <% } else{ %>
                                            <%= note.body %>
                                                <% } %>
                            </p>
                            <a href="/notes/<%=note._id %> "
                                class="btn btn-primary stretched-link mt-auto d-inline-block">View</a>
                        </div>
                        <div class="card-footer text-muted">
                            edited <%= timeAgo.format(new Date(parseInt(note.editDate))) %>
                        </div>
                    </div>

                    <% } %>
                    <% if(!sharedNotes.length) {%> 
                        <p class="text-muted p-2">Nothing has been shared with you yet.</p>
                        <% } %> 
            </div>

        </div>