<% layout('layouts/boilerplate')%>
    <title>View Note</title>

    <body>
        <div class="row">
            <div class="card offset-2 col-8 col-md-6 offset-md-3 p-0">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= note.title %>
                    </h5>
                    <div class="text-muted">
                        <%=note.author.username%>
                            </span>
                            <p class="card-text">
                                <%= note.body %>
                            </p>
                    </div>
                    <div class="m-auto p-2">
                        <a class="btn btn-success d-inline" href="/notes/<%=note._id%>/share">Share</a>
                        <a class="btn btn-primary d-inline" href="/notes">Back to All Notes</a>
                        <a class="btn btn-primary" href="/notes/<%=note._id%>/edit">Edit Note</a>
                        <form class="d-inline" action="/notes/<%=note._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Note</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <%= timeAgo.format(new Date(parseInt(note.date))) %>
                </div>
            </div>
        </div>
    </body>

    </html>